<% include ./partials/head %> 
<% include ./partials/header %> 
<!-- Home -->
<div id="home" class="hero-area">
    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(./img/topbg.jpg);   background-position: center;"></div>
    <!-- /Backgound Image -->
    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="white-text">Additional lessons</h1>
                    <p class="lead white-text">Some descriptional sentense about ellective courses or school.</p>
                    <a class="main-button icon-button" href="/login">Login to the site</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Home -->
<!-- About -->
<div id="about" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        
    </div>
    <!-- /About -->




    <!-- Why us -->
    <div id="why-us" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="section-header text-center">
                    <h2>Why Edusite</h2>
                    <p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
                </div>
                <!-- feature -->
                <div class="col-md-4">
                    <div class="feature">
                        <i class="feature-icon fa fa-flask"></i>
                        <div class="feature-content">
                            <h4>Additional lessons</h4>
                            <p>Courses covers different subjects and preparation</p>
                        </div>
                    </div>
                </div>
                <!-- /feature -->
                <!-- feature -->
                <div class="col-md-4">
                    <div class="feature">
                        <i class="feature-icon fa fa-users"></i>
                        <div class="feature-content">
                            <h4>Expert Teachers</h4>
                            <p>Teachers can help you with your interest</p>
                        </div>
                    </div>
                </div>
                <!-- /feature -->
                <!-- feature -->
                <div class="col-md-4">
                    <div class="feature">
                        <i class="feature-icon fa fa-comments"></i>
                        <div class="feature-content">
                            <h4>Community</h4>
                            <p>You can find new friends</p>
                        </div>
                    </div>
                </div>
                <!-- /feature -->
            </div>
            <!-- /row -->

<% include ./partials/footer %>